.about.container {
    background-color: var(--color-light);
    padding-top: 2rem;
    padding-bottom: 5rem;
}

.about__title {
    color: #1f2937;
    font-size: 36px;
    text-align: center;
    font-weight: 900;
}

.about__examples {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.5rem;
}

.clown {
    width: 10rem;
    height: 10rem;
}

.clown__description {
    color: var(--color-dark);
    text-align: center;
}