.header.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--color-dark);
    padding-bottom: 3rem;
    margin-left: 0;
    margin-right: 0;
}

.header__logo {
    display: flex;
    padding-top: 1rem;
    padding-left: 11rem;
    font-size: 24px;
    color: #f9faf8;
}

.header__menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 0;
    padding-top: 1rem;
    padding-right: 11rem;
}

