.header.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--color-dark);
    margin-bottom: 3rem;
}

.header__logo {
    display: flex;
    margin-top: 1rem;
    margin-left: 11rem;
}

.header__menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    padding: 0;
    margin-top: 1rem;
    margin-right: 11rem;
}

