.hero.container {
    display: flex;
    margin-top: 5rem;
    border: 1px solid red;
    flex: 1;
    margin-bottom: 6rem;
}

.hero__title {
    font-weight: 900;
    font-size: 48px;
}

.hero__left-side {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 11rem;
    margin-right: auto;
}

.hero__description {
    max-width: 50ch;
    font-size: 18px;
    color: #e5e7eb;
}

.hero__button {
    width: 100px;
    background-color: var(--color-blue);
    color: var(--color-light);
    border-radius: 10%;
    font-weight: bold;
    text-align: center;
}

.hero__image {
    text-align: start;
    width: 100%;
    height: 12rem
}

.hero__right-side {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid red;
    margin-right: 11rem;
}