:root {
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-md: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #222538;
    color: #f9fafb;
}

a {
    color: #f9fafb;
    text-decoration: none;
    cursor: pointer;
}

.header.container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    margin-top: 1rem;
    margin-left: 10rem;
}

.header__menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-right: 10rem;
}